@charset "utf-8";
/*兼容性文件*/
*{padding:0;margin:0;border:none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html,body{ width:100%; height:100%;}
img.ie6{vertical-align:text-bottom;display:block;}
::-moz-focus-inner{border:0px;}
ul li{list-style:none;}
label{ white-space:nowrap;}
a{text-decoration:none; color:#666;}
h4{ font-family:Verdana,Arial,Microsoft YaHei,simhei,simsun!important;}
/*a:hover{color:#ffaa24; }*/
.clearfix{clear:both; overflow:hidden;}


/*index*/
body{background:#fff;text-align:left;font:normal 14px/24px Verdana,Arial,Microsoft YaHei,simhei,simsun!important;color:#333; }
.header-top{width:100%;height:75px;background:#fff;text-align:center; overflow:hidden; margin:0 auto;}
.header{width:100%;height:75px;background:#fff;text-align:center; overflow:hidden; margin:0 auto;}
.header-content{ width:1000px; height:75px; margin:0 auto;}
.logo{width:80%; float:left;height:75px;text-align:center; vertical-align:middle;} 
.nav{ width:20%;float:right;line-height:75px; font-size:14px;}
.nav ul li{ width:50px; margin:1%; float:left;}
.nav ul li a:hover{ color:#2da9eb;}
.banner{ width:100%; background:#000 center no-repeat; height:313px;}
.banner #onebyone_slider span a{color:#FFF;}
.banner-button{font:11px Helvetica,Arial,sans-serif;font-weight:400;text-decoration:none;text-transform:uppercase;padding:8px 18px;margin:2px 3px;vertical-align:middle;display:inline-block;border:solid 1px #39cafb;color:#fff;background:#4fcfff;cursor:pointer;}
.banner-button:hover{color:#fff;background:#26a1ce;border-color:#1d87af}
.classification{ width:100%; background-color:#fff; padding-top:15px; margin-bottom:30px;}
.popularClass{width:100%; background-color:#f5f5f5; padding:15px 0; }
.class-content,.Course-content{ width:100%; max-width:1200px; min-width:1000px; margin:0 auto; margin-top:30px;}
.class-content .bg{ background-color:#f5f5f5;}
.class-title,.Course-title{ width:100%; height:40px; line-height:30px;font-size:20px; vertical-align:bottom; border-bottom:1px solid #bbbbbb; font-weight:500; font-family:Verdana,Arial,Microsoft YaHei!important,simhei,simsun;}
.class-icon,.Course-icon{ width:5px; height:30px; background-color:#2698e0; float:left; margin-right:10px;}
.class-category{ width:100%; overflow:hidden; margin:0 auto; padding-top:30px;}
.class-category-left{ width:220px; float:left;}
.class-category-middle{ float:left;}
.index{width:230px; margin-left:9px; padding:7px 7px 10px; border:1px solid transparent;float:left;font-size:16px;color:#333 !important; vertical-align:middle; display:block;}
.index:hover{ border:1px solid #ddd;-webkit-box-shadow: #666 0px 0px 3px;  -moz-box-shadow: #666 0px 0px 3px;   box-shadow: #666 0px 0px 3px ;/*filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;*/}
.index .item-img-link{ position:relative; display:block; margin-bottom:6px;}
.index .item-img-link .item-img{ width:212px; height:124px}

/*.class-category ul li a:hover{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity:0.6;}*/
.item-img-link{ width:212px; height:124px; margin:0 auto; margin-bottom:5px; text-align:center;}
.index .item-status{ position:absolute; width:212px; height:24px; line-height:24px; font-size:12px; margin-left:1px; padding-left:5px; color:#FFF; background:rgba(0,0,0,.6); margin-top:-30px; overflow:hidden;}
.index .item-status-step {margin-left:2px;}
.index .item-tt{overflow:hidden;text-overflow:ellipsis; -webkit-line-clamp:2;-webkit-box-orient:vertical;position:relative;height:25px; margin-bottom:8px;}
.index .item-tt-link{ color:#333; word-wrap:break-word;white-space:nowrap; font-size:14px; }
.index .item-line--bottom{ height:24px; line-height:24px;}
.index .item-line .line-cell:first-child{margin-left:0;}
.index .item-price.free{ color:#6C3; font-size:14px;}
.index .item-line .line-cell{ float:left;}
.index .item-source{ float:right;  font-size:14px; color:#999 !important;}
.box-course{ border:1px solid #229fe2; width:220px; height:124px; margin:0 auto; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; border-radius:50px; margin-bottom:5px;}
.box-SelfPractice{ border:1px solid #eb3f00; width:220px; height:124px; margin:0 auto; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; border-radius:50px; margin-bottom:5px;}
.box-ChapterPractice{ border:1px solid #ff9804; width:220px; height:124px; margin:0 auto; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; border-radius:50px; margin-bottom:5px;}
.box-test{ border:1px solid #556eea;  width:220px;height:124px; margin:0 auto; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; border-radius:50px; margin-bottom:5px;}
.box-test-results{ border:1px solid #ff6699;width:220px; height:124px; margin:0 auto; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; border-radius:50px; margin-bottom:5px;}
.box-wrong{ border:1px solid #00cc99; width:220px;height:124px;margin:0 auto; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; border-radius:50px; margin-bottom:5px;}
.box-practice{ border:1px solid #0edfe1; width:220px; height:124px; margin:0 auto; -webkit-border-radius:50px; -moz-border-radius:50px; -o-border-radius:50px; border-radius:50px; margin-bottom:5px;}

.newCourse{ width:100%; background-color:#f5f5f5; padding:15px 0;}
.class-Course{ width:100%; overflow:hidden; margin:10px auto;}
.Course-a{ width:23%; margin:1%; border:1px solid #ddd; overflow:hidden; float:left;}
.course-image{ width:100%}
.course-image a:hover{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity:0.6;}
.course-text{ background-color:#f5f5f5; font-size:16px; padding:10px; color:#333;}
.course-text a:hover{ color:#000;}
.course-instructions{ font-size:14px; color:#999;}
/*foot*/
.foot{ background-color:#fff; text-align:center; color:#333; font-size:14px; line-height:60px; border-top:1px solid #ddd;}