亲爱的${username}： 
<br/><br/>
当您收到这封信的时候，意味着您在${sysname}使用了“密码找回”功能。
<br/><br/>
您的帐号：${username}
<br/><br/>
您的密码：${password}
<br/><br/>

<br/><br/>
给您带来的不便，深表歉意。  
<br/><br/>
希望您在${sysname}度过快乐的时光!  
<br/><br/> 
-----------------------  
<br/><br/>  
(这是一封自动产生的email，请勿回复。) 